###############
# ENVIRONMENT #
###############
ENVIRONMENT=#environment for running the system (local, dev, prod)

#############
### PORTS ###
#############

# Services Ports
API_GATEWAY_PORT=#<use unique port number>
ACCOUNTS_SERVICE_PORT=#<use unique port number>
MAILING_SERVICE_PORT=#<use unique port number>
REPORT_SERVICE_PORT=#<use unique port number>
XP_SERVICE_PORT=#<use unique port number>
EDUCATION_SERVICE_PORT=#<use unique port number>
ANALYTICS_SERVICE_PORT=#<use unique port number>
LLM_SERVICE_PORT=#<use unique port number>
COMPANY_SERVICE_PORT=#<use unique port number>

# TCP Ports
ACCOUNTS_TCP_PORT=#<use unique port number>
MAILING_TCP_PORT=#<use unique port number>
REPORT_TCP_PORT=#<use unique port number>
XP_TCP_PORT=#<use unique port number>
EDUCATION_TCP_PORT=#<use unique port number>
ANALYTICS_TCP_PORT=#<use unique port number>
LLM_TCP_PORT=#<use unique port number>
COMPANY_TCP_PORT=#<use unique port number>

# Database Ports
INTERNAL_DB_PORT=#<internal docker db ports>
ACCOUNTS_DB_PORT=#<unique db port number>
MAILING_DB_PORT=#<unique db port number>
REPORT_DB_PORT=#<unique db port number>
XP_DB_PORT=#<unique db port number>
EDUCATION_DB_PORT=#<unique db port number>
ANALYTICS_DB_PORT=#<unique db port number>
LLM_DB_PORT=#<unique db port number>
COMPANY_DB_PORT=#<use db unique port number>

###################
### CONTAINSERS ###
###################

# Gateway Container Names
GATEWAY_APP_CONTAINER=

# Accounts Container Names
ACCOUNTS_DB_CONTAINER=
ACCOUNTS_APP_CONTAINER=

# Mailing Container Names
MAILING_DB_CONTAINER=
MAILING_APP_CONTAINER=

# Report Container Names
REPORT_DB_CONTAINER=
REPORT_APP_CONTAINER=

# XP Container Names
XP_DB_CONTAINER=
XP_APP_CONTAINER=

# Education Container Names
EDUCATION_DB_CONTAINER=
EDUCATION_APP_CONTAINER=

# Analytics Container Names
ANALYTICS_DB_CONTAINER=
ANALYTICS_APP_CONTAINER=

# LLM Container Names
LLM_DB_CONTAINER=
LLM_APP_CONTAINER=

# Company Container Names
COMPANY_DB_CONTAINER=
COMPANY_APP_CONTAINER=

##################
### DB DETAILS ###
##################
ACCOUNTS_DB_NAME=
MAILING_DB_NAME=
REPORT_DB_NAME=
XP_DB_NAME=
EDUCATION_DB_NAME=
ANALYTICS_DB_NAME=
LLM_DB_NAME=
COMPANY_DB_NAME=

# DB CREDENTIALS
DB_HOST=#<DB host name>
DB_USERNAME=#Username
DB_PASSWORD=#Password

# Auto Syncronize Database
DB_SYNC=#true/false

#######################
### PGADMIN DETAILS ###
#######################

PGADMIN_EMAIL=#<email>
PGADMIN_PASSWORD=#Password

#########################
### AUTH0 CREDENTIALS ###
#########################

# Auth0 - Regular Web App credentials
AUTH0_DOMAIN=#Your auth0 domain
AUTH0_CLIENT_ID=#Your auth0 id
AUTH0_CLIENT_SECRET=#Your auth0 secret key
AUTH0_AUDIENCE=#Your auth0 audience address

# Auth0 - M2M App credentials (for Management API calls like creating users)
AUTH0_M2M_CLIENT_ID=#Your auth0 managment id
AUTH0_M2M_CLIENT_SECRET=#Your auth0 managment secret key

######################
### RESEND DETAILS ###
######################

# Resend API Key
RESEND_API_KEY=#Your resend api key
RESEND_EMAIL=#Resend email
RESEND_EMAIL_DELIVERED=#Resend delivery email

###################
### LLM DETAILS ###
###################

LLM_GATEWAY_URL=
LLM_GATEWAY_KEY=

###################
### OUR DETAILS ###
###################

DOMAIN=#Your domain
OUR_EMAIL=#Your email
BUSINESS_NAME=#The name of the Business
TRACKING_LINK=#The page link that opens when link is opened in email

################
### SETTINGS ###
################

TEST_EMAIL_SEND=#sending email true/false