# App
MAILING_SERVICE_PORT=
MAILING_TCP_PORT=

# Database
MAILING_DB_CONTAINER=
INTERNAL_DB_PORT=
DB_USERNAME=
DB_PASSWORD=
MAILING_DB_NAME=
DB_SYNC=

# RabbitMQ
RABBITMQ_URL=

# Resend / Email
RESEND_API_KEY=
RESEND_EMAIL=
RESEND_EMAIL_DELIVERED=