capstone-five-guys.dns.net.za:443 {
    @api path /api/*
    @badApiOrigin {
        path /api/*
        not header Origin https://capstone-five-guys.dns.net.za
    }

    handle @badApiOrigin {
        respond "Forbidden origin" 403
    }

    handle /api/* {
        reverse_proxy api-gateway:3001
    }

    handle {
        reverse_proxy website:5173
    }
}